@model IEnumerable<VroomCarInsurance.Models.Applicant>

@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>



<td>
    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
</td>
