@{
    ViewBag.Title = "Home Page";
}

<h1>Vroom Car Insurance</h1>

<img class="img-fluid" src="~/Content/Images/Car.jpg" alt="Vroom Car Insurance" />

<a href='@Url.Action("Create", "Applicant")' class="btn btn-dark btn-block">Apply Now!</a>