@model VroomCarInsurance.Models.Applicant

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron jumbotron-fluid justify-content-center">
    <div class="container">
        <h2>Your monthly car insurance quote from Vroom Insurance is $@Model.Quote</h2>
    </div>
</div>
