@using VroomInsurance.ViewModels
@model List<ApplicationVM>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Applicants</h5>
        </div>
        <div class="card-body">
            @foreach (var applicant in Model)
            {
                <div class="row">
                    <div class="col">
                        @applicant.Quote
                    </div>
                    <div class="col">
                        @applicant.FirstName
                    </div>
                    <div class="col">
                        @applicant.LastName
                    </div>
                    <div class="col">
                        @applicant.EmailAddress
                    </div>
                </div>
            }
        </div>
    </div>
</div>

